@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Example from https://www.w3schools.com/bootstrap5/bootstrap_jumbotron.php -->
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Welcome to DotNetGrill</h1>
    </div>

    <!-- Grid System https://getbootstrap.com/docs/4.0/layout/grid -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Our Story</h2>
                <p>Step into a world where the art of the steak is celebrated. At DotNetGrill in Toronto, we invite you to indulge in the timeless tradition of exceptional dining. Our menu features carefully selected, premium cuts of beef, expertly grilled to your exact specifications. Complemented by a refined atmosphere and attentive service, every visit promises a sophisticated experience. Whether you're celebrating a special occasion or simply seeking an unforgettable meal, discover your new favourite steak and create lasting memories with us in the heart of Toronto.</p>
            </div>
            <div class="col">
                <img class="steakhouse" src="./img/steakhouse.jpg" alt="steakhouse" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="head-chef" src="./img/head-chef.jpg " alt="head chef" />
            </div>
            <div class="col">
                <h2>Chef Kaung</h2>
                <p>At DotNetGrill in Toronto, the exceptional quality of our steaks is a direct reflection of the passion and expertise of our Head Chef, Kaung. With a meticulous eye for detail and a commitment to perfect execution, Chef [Chef's Last Name] leads our kitchen in crafting each and every dish to the highest standards. From selecting premium cuts to overseeing the precise grilling process, their hands-on approach ensures a steak experience that is consistently outstanding. Taste the dedication and skill that goes into every plate, right here in the heart of Toronto.</p>
            </div>
            
        </div>
    </div>

    
    
</div>
